<div *ngIf="errorMessage" class="rounded-md bg-red-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-red-800">Error</h3>
      <div class="mt-2 text-sm text-red-700">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="mt-4">
        <div class="-mx-2 -my-1.5 flex">
          <button type="button" class="ml-3 rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>

<form class="space-y-6" [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div>
    <label for="email" class="block text-sm font-medium leading-6 text-slate-200">Email address</label>
    <div class="relative mt-2 rounded-md shadow-sm">
      <input type="email" formControlName="email" id="email" [ngClass]="emailIsInvalid ? 'text-red-900 ring-red-300 placeholder:text-red-300 focus:ring-red-500' : 'text-white ring-white/10 focus:ring-indigo-500'" class="block w-full rounded-md border-0 py-1.5 pr-10 bg-white/5 ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">

      <div *ngIf="emailIsInvalid" class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
        <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

    <p *ngIf="emailIsInvalid && emailErrors?.['required']" class="mt-2 text-sm text-red-600">Email is required.</p>
    <p *ngIf="emailIsInvalid && emailErrors?.['email']" class="mt-2 text-sm text-red-600">Invalid email address.</p>
  </div>

  <div>
    <label for="password" class="block text-sm font-medium leading-6 text-slate-200">Password</label>
    <div class="relative mt-2 rounded-md shadow-sm">
      <input type="password" formControlName="password" id="password" [ngClass]="passwordIsInvalid ? 'text-red-900 ring-red-300 placeholder:text-red-300 focus:ring-red-500' : 'text-white ring-white/10 focus:ring-indigo-500'" class="block w-full rounded-md border-0 py-1.5 pr-10 bg-white/5 ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">

      <div *ngIf="passwordIsInvalid" class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
        <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

    <p *ngIf="passwordIsInvalid && passwordErrors?.['required']" class="mt-2 text-sm text-red-600">Password is required.</p>
    <p *ngIf="passwordIsInvalid && passwordErrors?.['minlength']" class="mt-2 text-sm text-red-600">Password must be at least 6 characters.</p>
  </div>

  <button type="submit" [disabled]="!signUpForm.valid" [ngClass]="signUpForm.valid ? enabledButtonClasses : disabledButtonClasses">Sign up</button>
</form>
