<lsbf-home-page-header></lsbf-home-page-header>

<main class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-6 sm:py-10 mb-14">
  <lsbf-alert-panel *ngIf="errorOccurred" type="ERROR" headingText="Error"
                    message="An error occured while loading your learning path data."
                    (closeAlert)="handleAlertClose()"
  ></lsbf-alert-panel>

  <lsbf-loading-spinner *ngIf="isLoading" size="LARGE"></lsbf-loading-spinner>

  <div *ngIf="learningPath" class="space-y-16">
    <div>
      <lsbf-home-page-progress-card></lsbf-home-page-progress-card>
    </div>
    <div>
      <lsbf-home-page-learning-path [learningPathData]="learningPath"></lsbf-home-page-learning-path>
    </div>
  </div>
</main>

<lsbf-home-page-footer></lsbf-home-page-footer>

<lsbf-reset-progress-modal *ngIf="modalService.displayModal$ | async"></lsbf-reset-progress-modal>
