<div *ngIf="errorOccurred" class="flex h-screen w-screen items-center justify-center">
  <lsbf-alert-panel type="ERROR" headingText="Error" message="There was an error loading the tutorial." (closeAlert)="handleAlertClose()"></lsbf-alert-panel>
</div>

<ng-container *ngIf="currentTutorial">
  <lsbf-video-player [currentTutorial]="currentTutorial" [nextTutorialId]="nextTutorialId" [previousTutorialId]="previousTutorialId"></lsbf-video-player>
  <lsbf-tutorial-playlist [learningPath]="learningPath"></lsbf-tutorial-playlist>
</ng-container>

